.LoginSignupWidgetContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10vh;
}

.FieldContainer {
    display: flex;
    flex-direction: row;
}

.GreenText {
    color: green;
}

.RedText {
    color: red;
}

.FormWidgetContainer {
    width: 25vw;
    height: 50vh;
}

.FormHeaderText {
    text-align: center;
}