.LoginSignupWidgetContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10vh;
}

.FieldContainer {
    display: flex;
    flex-direction: row;
}

.GreenText {
    color: green;
}

.RedText {
    color: red;
}